body	{background: #333333 url('../gfx/background_tile.png') repeat; background-attachment: fixed;}
h6 		{color: #660000; text-align: center; font-size: 12px; font-family: Times, Serif; line-height: normal;}

a:link 		{color: #660000; text-decoration: none; }
a:visited 	{color: #660000; text-decoration: none; }
a:hover 	{color: #ff0000; text-decoration: none; text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9)}
a:active 	{color: #ff0000; text-decoration: none; }
::placeholder {color: #330000;}

.button {background-color: #000000; color: #660000; font-size: 24px; border-radius: 5px; font-family: ManaSpace; src: url('manaspc.ttf'); border: 2px solid #660000; padding: 5px; padding-left: 10px; padding-right: 10px;}
.button:hover {color: #000000; text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9); box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9); border-radius: 5px; border: 2px solid #660000; padding: 5px; padding-left: 10px; padding-right: 10px;}
.search {width: 75%; background-color: #000000; color: #ff0000; font-size: 24px; box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9); border-radius: 10px; font-family: ManaSpace; src: url('gfx/manaspc.ttf'); border: 2px solid black; padding: 5px;}

img.logo_icon 		{position: relative; 	z-index: 16777270; 	height: 100%; top: 0px; cursor: pointer; }
img.logo_text 		{position: relative;	z-index: 16777270;  height: 100%; top: 0px; cursor: pointer; }
img.link_steam 		{position: sticky;		z-index: 16777270; 	height: 32px; }
img.link_twitch 	{position: sticky;		z-index: 16777270; 	height: 32px; }
img.link_youtube 	{position: sticky;		z-index: 16777270; 	height: 24px; }
img.link_streams	{width: 15%;}
	img.link_streams:hover		{box-shadow: inset 0px 0px 100px 100px rgba(255, 0, 0, 0.1); border-radius: 10px;}
img.link_news		{width: 10%;}
	img.link_news:hover		{box-shadow: inset 0px 0px 100px 100px rgba(255, 0, 0, 0.1); border-radius: 10px;}
img.link_games		{width: 10%;}
	img.link_games:hover		{box-shadow: inset 0px 0px 100px 100px rgba(255, 0, 0, 0.1); border-radius: 10px;}
img.link_subreddits	{height: 22px;}
	img.link_subreddits:hover	{box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9); border-radius: 5px;}
img.link_footer 	{z-index: 16777270;		height: 16px; }
img.error			{width: 25%; }
	img.stone_down:hover		{box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9);}

table.main {
	background: #666666 url('../gfx/zstngd.png') repeat;
	background-size: 64px 64px;
	text-shadow: 0.0em 0.0em 0.5em white;
	position: static;
	width: 100%;
	max-width: 1200px;
	margin-left:auto;margin-right:auto;
	border: 2px solid black;
	border-radius: 10px;
	z-index: 16777260;
	}

table.layout {
	padding: 3px;
	border: 1px solid black;
	background: #FFFFFF;
	}

th.main {
	text-align: left;
	font-size: 18px;
	font-family: Times, Serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0.0em 0.0em 0.5em white;
	z-index: 16777261;
	margin-top:auto;margin-bottom:auto;margin-left:3px;margin-right:3px;
	}

th.maindate {
	text-align: right;
	font-size: 14px;
	font-family: Times, Serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0.0em 0.0em 0.5em white;
	z-index: 16777261;
	margin-top: -5px;
	}

td.main {
	text-align: center;
	font-size: 14px;
	font-family: Arial, Sansserif;
	text-align: justify; text-justify: inter-word;
	background: #666666 url('../gfx/background_pattern_01.png') repeat;
	background-attachment: fixed;
	border: 3px solid black;
	border-radius: 5px;
	z-index: 16777262;
	margin-left:auto;margin-right:auto;
	}

ul.main {
	display: table;
	padding: 5px;
	margin: 0;
	vertical-align: middle;
	}

span.main {
	background: #666666 url('../gfx/background_pattern_01.png') repeat;
	background-attachment: fixed;
	border: 3px solid black;
	border-radius: 10px;
	z-index: 16777262;
	margin-left:auto;margin-right:auto;
	width: 90%
	}

hr.main {
	max-width: 1200px;
	color: white;
	background-color: black;
	height: 2px;
	border-width: 0;
	float: none;
	}

#banner {
	position: sticky;
	max-width: 1200px;
	height: 50px;
	top: 0px;
	margin-left: auto; margin-right: auto;
	background: #333333 url('../gfx/pvsepblu.png') repeat top center / 100px 100px;
	z-index: 16777269;
	border-radius: 10px;
	border: 3px solid black;
	}

#banner:hover {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9);}

#dropelement {
	position: relative;
	z-index: 16777270;
	padding: 0px;
	background: #aaaaaa url('../gfx/background_pattern_00.png') repeat top center / 48px 48px;
	max-width: 42px;
	border-radius: 5px;
	margin-left: 0px;
	text-align: left;
	font-size: 16px;
	font-family: Times, Serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0.0em 0.0em 0.5em gray;
	border: 3px solid black;
	z-index: 16777270;
	top: 0px;	left: 0px;
	display: none;
	}

#dropelement:hover {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9);}

#subreddits {
	display: none;
	}

#main-body {
	width: 100%;
	height: 100%;
	}

#center {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	}

#google {}
